<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Box</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Music Box</h1>
        <p>Sua plataforma para avaliar músicas</p>
    </header>
    <main>
        {% if access_token %}
            <h2>Autenticado com sucesso!</h2>
            <nav class="main-nav">
                <a href="{{ url_for('routes.get_user_profile') }}" class="btn">Ver meu perfil</a>
                <a href="{{ url_for('routes.search_songs') }}" class="btn">Buscar Músicas</a>
                <a href="{{ url_for('routes.logout') }}" class="btn btn-logout">Sair</a>
            </nav>
        {% else %}
            <nav class="main-nav">
                <a href="{{ url_for('routes.login') }}" class="btn btn-login">Login com Spotify</a>
            </nav>
        {% endif %}
    </main>
</body>
</html>